.task-container {
  background-color: #333;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

p {
  color: #eee;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  cursor: pointer;
  max-width: 90%;
  word-wrap: break-word;
}
i {
  color: #00d4ff;
  margin-right: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.25s ease;
}
i:hover {
  color: #fff;
}
